<div class="mb-2">Scrivi la parola che gli altri dovranno indovinare</div>
<div>
  <form>
    <div class="field">
      <label class="label is-sr-only" for="word">Parola da indovinare</label>
      <div class="field has-addons">
        <div class="control">
          <input
            class="control"
            id="word"
            type="text"
            [(ngModel)]="word"
            required
            pattern="[a-zA-Z]+( [a-zA-Z]+)*"
            #wordModel="ngModel"
            name="word"
          />
        </div>
        <div class="control">
          <button
            class="control"
            type="submit"
            [class.is-loading]="chooseWordButton?.loading"
            (click)="chooseWord()"
            [disabled]="!word || wordModel.invalid"
          >Ok</button>
        </div>
      </div>
    </div>
  </form>
</div>
