<script src="../play-screen/play-screen.component.ts"></script>
<ng-container *ngIf="showGameKeyboard$ | async">
  <div hmoWaitingTurn>
    <div class="is-flex is-flex-wrap-wrap is-justify-content-space-around">
      <button
        *ngFor="let button of BUTTONS"
        class="keyboard-button"
        [disabled]="button.isDisabled"
        [asyncClick]="buttonClicked.bind(this, button)"
      >{{button.key}}</button>
    </div>
  </div>
  <hmo-try-to-guess></hmo-try-to-guess>
</ng-container>
<div class="my-2 is-size-5 has-text-centered" *ngIf="showWin !== undefined">
  <div class="" *ngIf="showWin">
    Complimenti {{itsMe ? 'hai vinto' : 'a ' + showWin}}!
  </div>
  <div *ngIf="!showWin">
    La parola non è stata indovinata{{itsMe ? ' :)' : ', peccato :('}}
  </div>
</div>
<div class="has-text-centered" *ngIf="showRestart$ | async">
  <button
    [asyncClick]="restartGame.bind(this)"
  >Continua</button>
</div>
