/* HEX */
$primary: #41e2baff;
$secondary: #f7e733ff;
$bkg-primary: #f4e8c1ff;
$bkg-secondary: #f7f7f9ff;
$active1: #2b2d42ff;
$active2: #083d77ff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-right: linear-gradient(90deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-bottom: linear-gradient(180deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-left: linear-gradient(270deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-top-right: linear-gradient(45deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-bottom-right: linear-gradient(135deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-top-left: linear-gradient(225deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-bottom-left: linear-gradient(315deg, #2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);
$gradient-radial: radial-gradient(#2b2d42ff, #083d77ff, #41e2baff, #f7e733ff, #f4e8c1ff, #f7f7f9ff);

@tailwind base;

input {
  @apply border rounded px-3 py-1 w-auto;
}

button {
  @apply px-3 py-1 rounded bg-primary;

  &:hover:not(:disabled) {
    @apply shadow-md;
  }

  &:disabled {
    @apply bg-gray-400 border-gray-500 text-gray-600 cursor-not-allowed;
  }
}

.stack {
  input {
    @apply rounded-b-none w-full border-b-0;
  }

  button {
    @apply rounded-t-none w-full;
  }
}

hr {
  height: .2rem;
  @apply bg-gray-600 rounded-full my-2;
}

body {
  @apply h-screen text-active1;
}

.input-group {
  @apply flex flex-col;
}

.tooltip {
  @apply relative underline text-active2 cursor-pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  @apply invisible text-white text-sm text-center p-2 rounded absolute z-10 block;
  top: -100%;
  left: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.75);
}

.tooltip:hover .tooltiptext {
  @apply visible;
}

@tailwind components;

@tailwind utilities;


