@charset "utf-8";
@import "~bulma/sass/utilities/functions";

// Initial var
$scheme-main: #f7f7f9ff;
$grey-darker: #2b2d42ff;
$grey-dark: #062f58;

// Derived var
$primary: #41e2baff;
$hr-background-color: $grey-darker;

$control-border-width: 1px;
$control-height: 2.2rem;
$control-padding-horizontal: calc(0.65em - #{$control-border-width});
$button-padding-horizontal: .75em;

//$button-padding-vertical: calc(.2em - #{$control-border-width});

// New var
$alternative: #f7e733ff;

$secondary: #f4e8c1ff;
$secondary-invert: findColorInvert($secondary);
$custom-colors: ("secondary": ($secondary, $secondary-invert));

hr {
  border-radius: 9999px;
}

html, body {
  height: 100%;
}

.tooltip {
  @apply relative underline text-active2 cursor-pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  @apply invisible text-white text-sm text-center p-2 rounded absolute z-10 block;
  top: -100%;
  left: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.75);
}

.tooltip:hover .tooltiptext {
  @apply visible;
}

.is-line-height-1 {
  line-height: 1;
}

.is-full-height {
  height: 100%;
}

.is-card {
  border: 1px solid #c7c7c7;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #d8d8d8;
  margin-top: 1rem;
}

hr {
  border-radius: 9999px;
}

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";

$navbar-breakpoint: $tablet;
$navbar-item-hover-color: $scheme-invert;
$navbar-item-active-background-color: $scheme-main-bis;

@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/_all";

// Extensions
@import '~@creativebulma/bulma-tooltip';

span[data-tooltip] {
  color: $link;
  text-decoration: underline;
  border: none;
}


