span {
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: .3em;
  }
}

svg {
  max-height: 30vh;
  height: 100%;
  width: 100%;
  fill: none;
  stroke: #2b2d42ff;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
