<ng-template #modal>
  <hmo-feedback></hmo-feedback>
</ng-template>


<div class="feedback has-text-centered pt-4">
  <button (click)="openFeedback(modal)">Send Feedback</button>
</div>
<footer class="is-flex is-justify-content-space-between is-align-items-center pt-4 pb-2 px-3">
  <div class="credits">
    Made with <fa-icon [icon]="faHearth"></fa-icon>️ by
    <a href="https://github.com/silibdev" target="_blank">Fabio Siliberto</a>
  </div>
  <div class="version">
    <span>Version</span>
    <span class="version-number">{{version}}</span>
  </div>
</footer>
