<ng-container *ngIf="amINotMaster$ | async">
  <div
    class="columns is-mobile is-centered"
    *ngIf="turnsToWait === 0;else waitTurns"
  >
    <div class="column is-narrow field">
      <label class="label is-sr-only" for="wordGuess">Prova a indovinare</label>
      <div class="field has-addons">
        <div class="control">
          <input
            #wordGuessModel="ngModel"
            class="rounded-r-none"
            type="text"
            placeholder="Prova a indovinare"
            id="wordGuess"
            name="wordGuess"
            required
            [(ngModel)]="wordGuess"
            [disabled]="button.isLoading">
        </div>
        <div class="control">
          <button
            #button="asyncButton"
            [asyncClick]="sendTry.bind(this)"
            [disabled]="wordGuessModel.invalid"
          >Invia</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #waitTurns>
    <div class="has-text-centered text-xl">
      Devi aspettare {{turnsToWait}} turni per poter provare a indovinare di nuovo
    </div>
  </ng-template>
</ng-container>
