<nav class="navbar is-secondary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <hmo-ui-logo></hmo-ui-logo>
    <a
      role="button"
      class="navbar-burger"
      [class.is-active]="isActive"
      aria-label="menu"
      [attr.aria-expanded]="isActive"
      (click)="isActive = !isActive"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div
    class="navbar-menu"
    [class.is-active]="isActive"
  >
    <div class="navbar-end">
        <a
          *ngFor="let item of menu"
          class="navbar-item"
          [routerLinkActive]="['is-active']"
          [routerLink]="item.route"
        >{{item.label}}</a>
    </div>
  </div>
</nav>
