.explanation {
  font-family: "Comic Sans MS", serif;

  em {
    text-decoration: underline;
  }
}

.tutorial-image {
  align-self: baseline;
  max-width: 17rem;
  border-radius: 9px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.55), 0 0 19px -2px rgba(0,0,0,0.8);
}
