<div hmoUiTitle>Crea o unisciti ad una stanza</div>
<div class="block">
  <label class="w-full sm:w-2/3 md:w-1/3 lg:w-1/4">
    Inserisci il tuo nome:
    <input type="text" [(ngModel)]="name" required>
  </label>
</div>
<div class="flex justify-around items-center block">
  <div class="w-5/12">
    <button (click)="createRoom()" [disabled]="!name">Crea stanza</button>
  </div>
  <div class="w-2/12">O</div>
  <div class="w-5/12">
    <label>
      Id stanza
      <input type="text" [(ngModel)]="roomId">
    </label>
    <button (click)="joinRoom()" [disabled]="!name">Unisciti</button>
  </div>
</div>
